@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Shrikhand&family=Syncopate:wght@400;700&family=Unbounded:wght@200..900&family=VT323&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather',sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color:black;

}
h2{
    font-size: 46px;
    line-height: 54px;
    color:black;

}
h4{
    font-size: 20px;
    color:black;

}
h3{
    color: black;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color:#750000;
    margin: 15px 0 20px 0;
}
a{
    text-decoration: none;
}
.section-p1{
    padding:40px 80px;
}
.section-m1{
    margin:40px 0;
}
body{
    width:100%;
    
    
    
}
.logo{
 width: 120px;
 padding-left: 30px;
 padding-top: 0px;
}
    
#header{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px,80px;
     background-color:white;
     height: 100px;
     box-shadow: 0 5px 15px rgba(0,0, 0,0.06);
     z-index: 999;
     position: sticky;
     top: 0;
     left: 0;
}

#navbar{
    display:flex;
    align-items: center;
    justify-content: center;
   
}

#navbar li{
    list-style: none;
    padding:0 15px;
    ;
    }
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:	black;
    transition:0.2s ease;
}
#navbar li a:hover,
#navbar li a:active{
color:#0067B3;
    
}
#navbar li .cart:hover{
    color: black;
}

.search-form {
    display: flex;
    align-items: center;
}

.searchbar {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-button {
    background-color:#0000A3;
    border: none;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 10px 15px;
}

.search-button:hover {
    background-color:#0067B3;
}

.login-button {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid grey;
    text-align: center;
    line-height: 1.2;
}
  
.login-button:hover,
.login-button:active {
    background-color:black;
    color: white;
}

#landingpage1{
    background-image: url("img/carly-osborn-LKRRLAKgeO4-unsplash.jpg");
    height:100vh;
    background-size:cover;
    background-position: center bottom;
    object-fit:fill;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    padding-left: 35px;
    align-items: center;
    
}

#landingpage1 h4 a,
#landingpage1 h2 a,
#landingpage1 h1 a,
#landingpage1 p a {
    text-decoration: none; 
    color: inherit; 
}

#landingpage1 p{
    color:#56382D;
}
#landingpage1 h4{
    padding-bottom: 15px;
    color: black;
   
}

#landingpage1 h1{
   color :yellow;
  
}
#landingpage1 h2{
    color :yellow;
   
 }


#landingpage1 button{
   
    text-decoration: none;
    color:#050A30; 
    background-color:transparent;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;

}
#landingpage1 .shopbutton:hover{
    background-color: #68BBE3;
    color: white;
    border: 3px solid #68BBE3;
}

#featured1{
    text-align: center;

}
#featured1 .pro-container{
    display:flex;
    justify-content:space-between ;
    flex-wrap: wrap;
}


.product-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
 }

#featured1 .pro{
    width:23%;
    min-width :250px;
    padding:10px 12px;
    border :1px solid bisque (173, 172, 188);
    cursor: pointer;
    background-color: beige;
    margin: 15px 0;
    transition: 0.2s ease;
    align-items: center;
    position: relative;

}
#featured1 .pro:hover{
    box-shadow:  10px 10px 10px grey;
}
#featured1 .pro img{
    width: 100%;
   
   
}
#featured1 .pro .des{
    text-align:center;
    padding: 10px 0;

}
#featured1 .pro .des span{
    color:black;
    font-size:  15px;

}
#featured1 .pro .des h5{
    padding-top: 7px;
    color: black;
    font-size: 14px;
}

#banner1 .banner-box{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/aliya-amangeldi-HDx3FKhLrTM-unsplash.jpg);
    width:520px;
    height: 50vh;
    background-size: cover;
    background-position: center;


}
#banner1 .banner-box2{
    background-image: url(img/natali-hordiiuk--DknVr2md2E-unsplash.jpg);
}
#banner1{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

#banner1 h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
#banner1 h3{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
#banner1 h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
}
#banner1 span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color:black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color:white;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

#banner1 .banner-box:hover button{
    background:#FF647F;
    border: 1px solid #FF647F;
}


.coupons {
  background-color: #CCD7AC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: 30vh;
  background-size: cover;
  background-position: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 40px;
  position: relative;
  padding: 20px;
  
  
  
}

.coupons::after, .coupons::before {
  position: absolute;
  content: "";
  height: 80px;
  border-radius: 50px;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  width: 40px;
}

.coupons::after {
  right: -20px;
}

.coupons::before {
  left: -20px;
}

.coupons h3 {
  color: white;
  margin-bottom: 10px;
}

.coupons p {
  color: #565656;
  margin-bottom: 10px;
}
.coupons h1{
    color: #ccc;
}

.coups {
    width: 100%;
    height: 100px; 
    overflow: hidden;
    position: relative;
  }


  #banner4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    margin-bottom: 40px;
  }
  
  .coup-box, .coup-box2, .coup-box3 {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 20px;
    border-radius: 15px;
    animation: slide-in-out 7s linear infinite;
    
   
  }
  
  .coup-box::after, .coup-box::before,
  .coup-box2::after, .coup-box2::before,
  .coup-box3::after, .coup-box3::before {
    position: absolute;
    content: "";
    height: 40px;
    border-radius: 40px;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    width: 40px;
  }
  
  .coup-box::after, .coup-box2::after, .coup-box3::after {
    right: -20px;
  }
  
  .coup-box::before, .coup-box2::before, .coup-box3::before {
    left: -20px;
  }
  
  .coup-box h3, .coup-box2 h3, .coup-box3 h3 {
    color: yellow;
    margin-bottom: 10px;
  }
.coup-box span, .coup-box2 span, .coup-box3 span{
color: white;
  }
.coup-box{
    background-image: url(img/isi-parente-RmxF6X_pEqU-unsplash.jpg);

}
.coup-box2{
    background-image: url(img/liana-mikah-4RTAF3Z-0zM-unsplash.jpg);
    
}
.coup-box3{
    background-image: url(img/amy-peryam--qZ2AKXP2WU-unsplash.jpg);
}

@keyframes slide-in-out {
    0% {
        transform: translateX(-100%);
    }
    33% {
        transform: translateX(0);
    }
    66% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.coupon:nth-child(1) {
    animation-delay: 0s;
}

.coupon:nth-child(2) {
    animation-delay: 3s;
}

.coupon:nth-child(3) {
    animation-delay: 6s;
}
#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-image: url(img/marvin-van-beek-mMyvF0R7e38-unsplash.jpg);
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 1100px;
    margin: 50px auto;
    background-size:cover;
    
    object-fit:fill;
}

.newstext h4 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
    
}

.newstext p {
    font-size: 16px;
    color:#C1E1C1;
}

.newstext p span {
    color: yellow;
    font-weight: bold;
}

.form {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 600px;
    

}

.form input[type="text"] {
    flex: 1;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px 0 0 25px;
    outline: none;
}

.form button {
    background-color: black;
    
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0 25px 25px 0;
}

.form button:hover {
    background-color: yellow;
}

footer {
    background-color: #f2f2f2;
    padding: 40px 20px;
    color: #333;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 20px;
    min-width: 200px;
}

.footer-section h4 {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.newsletter {
    flex: 2;
}

.newsletter p {
    margin-bottom: 15px;
}

.newsletter a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.newsletter a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #e6e6e6;
    padding-top: 20px;
}

.footer-bottom p {
    margin: 5px 0;
}

